<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Upload File</title>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/index/ftp">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="files" multiple/></td></tr>
				<tr><td></td><td><input type = "submit" value = "upload" /></td></tr>
			</table>

		</form>
	</div>
	
	<div>
	<ul>
		<li th:each="file:${files}">
		<a th:href="${file}" th:text="${file}"/>
		</li>
	</ul>
	</div>

</body>
</html>