<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <li class="guide_card_item">
            <a th:href="@{/Network}" target="_blank" class="guide_card_item_wrap">
              <span>Network</span>
            </a>
            </li>
               <li class="guide_card_item">
            <a th:href="@{/upload}" target="_blank" class="guide_card_item_wrap">
              <span>upload</span>
            </a>
            </li>

             <li class= "guide_card_tiem">
            <a th:href="@{/download}" target="_blank" class="guide_card_item_wrap">
              <span>download</span>
            </a>
            </li>
         
</body>
</html>