<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
text {
	fill: #000;
	font: 10px sans-serif;
	pointer-events: none;
}
div.left{
	width:20%;
	float:left;
}
div.right{
	width:80%;
	float:right;
	position: relative;
}
svg {
position:absoulte;
	overflow-x: auto;
	padding: 0px;
	margin: 0px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
</style>

<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Inconsolata"
	rel="stylesheet">
<!-- <link th:src="@{/css/inspector.css}" rel="stylesheet"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>RDAP Network</title>
</head>
<body>
	<!--노드간의 정보 출력 및 나열  -->
	<div class="left"><pre>
		<code id="NodesArray"></code>
	</pre>
	</div>
	
	<div class="right">
	<svg width=2020 height=1410 oncontextmenu='return false'>
</svg>
	<script type="module" th:inline="javascript" th:src="@{/js/netwg1.js}"></script>
	
</body>
</html>